 
{% extends "base.html.twig" %}

{% block title %}Modifier le livre{% endblock %}

{% block body %}
 <script>
    document.querySelector("div.label-img div label").style.display ="none";
    </script>
  <div class="PageAjout_Form">
	<div class="Ajout_Form">

		<h1>Modifier le livre</h1>
        <p>Vous pouvez modifier tous les champs</p>

        <div class="formModifLivre">
		{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.titre) }}
            {{ form_widget(form.titre) }}
			<div class="form-error">
				{{ form_errors(form.titre) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.auteur) }}
			{{ form_widget(form.auteur) }}
			<div class="form-error">
				{{ form_errors(form.auteur) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.date_edition) }}
			{{ form_widget(form.date_edition) }}
			<div class="form-error">
				{{ form_errors(form.date_edition) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.date_ajout) }}
			{{ form_widget(form.date_ajout) }}
			<div class="form-error">
				{{ form_errors(form.date_ajout) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.date_modification) }}
			{{ form_widget(form.date_modification) }}
			<div class="form-error">
				{{ form_errors(form.date_modification) }}
			</div>
		</div>
        <div class="label-img">
		    {{ form_row(form.imageFile) }}
        </div>
		<div class="SignIn_Submit">
            <button type="submit" class="btn btn-lg btn-primary">
                <span>Publier</span>
            </button>
        </div>


		{{ form_end(form) }}
        </div>
	</div>
</div>
 {% endblock %}