{% extends 'base.html.twig' %}

{% block body %}
{% if app.user %}
<script>
</script>
<main class="content">
    <div class="Home_Home__I4pYx">
    </div>
    <section class="BookContainer">
        <div class="BookDetail">
                <div class="conteneur-img">
                  <img class="img-livre" src="{{ asset('imagesLivres/') ~ livre.imageName }}">
                </div>
                <div class="infos-livre">
                    <div class="liens-modif-livre">
                    <p>
                        <a href="{{ path('edit', { id: livre.id }) }}">modifier</a> 
                        <a href="{{ path('delete', { id: livre.id }) }}"><span id="suppression" tabindex="0" role="button" onclick="confirm('Voulez-vous vraiment supprimer ce livre ?')">supprimer</span></a> 
                    </p>
                </div>
                <div class="detail-livre">
                    <h2 class="titre">{{ livre.titre }}</h2>
                    <p class="auteur">{{ livre.auteur }}</p>
                    <p class="dateEdition">Date d'édition: {{ livre.dateEdition|date('d/m/Y') }}</p>
                    <p class="dateAjout">Date d'ajout: {{ livre.dateAjout|date('d/m/Y') }}</p>
                    <p class="dateModification">Date de modification: {{ livre.dateModification|date('d/m/Y') }}</p>
                </div>       
        </div>
    </section>
    </div>
</main>
{% endif %}
{% endblock %}
