{% extends 'base.html.twig' %}

{% block body %}


<div class="Home_Home__I4pYx">
<div class="Home_banner__VCUR8">
</div>
<main class="Home_main__msqaq">
<header>
<h1>Nos Livres</h1>
<p>à lire et à relire</p>
{% if app.user %}
<a class="button" href="{{ path('ajoutLivre') }}">+ Ajouter un livre</a>
{% endif %}
</header>
<section class="Home_bookList__KNB4N">
{% for livre in livres %}
  <div class="livres">
    <section class="BookItem">
    {% if app.user %}
      <a class="BookItem" href="{{ path('livre', { id: livre.id }) }}">
          <img class="livre-accueil" src="{{ asset('imagesLivres/') ~ livre.imageName }}">
          <div class="infos-livre">
              <h2>{{ livre.titre }}</h2>
              <p>Auteur: {{ livre.auteur }}</p>
              <p>Date d'édition: {{ livre.dateEdition|date('d/m/Y') }}</p>
              <p>Date d'ajout: {{ livre.dateAjout|date('d/m/Y') }}</p>
              <p>Date de modification: {{ livre.dateModification|date('d/m/Y') }}</p>
              
          </div>
      </a>
    {% else %}
    <a class="BookItem" href="{{ path('app_connexion') }}">
          <img class="livre-accueil" src="{{ asset('imagesLivres/') ~ livre.imageName }}">
          <div class="infos-livre">
              <h2>{{ livre.titre }}</h2>
              <p>Auteur: {{ livre.auteur }}</p>
              <p>Date d'édition: {{ livre.dateEdition|date('d/m/Y') }}</p>
              <p>Date d'ajout: {{ livre.dateAjout|date('d/m/Y') }}</p>
              <p>Date de modification: {{ livre.dateModification|date('d/m/Y') }}</p>
              
          </div>
      </a>
    {% endif %}
    </section>
  </div>
{% endfor %}
</section>
</main>
</div>
{% endblock %}
